.post-text-display {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
}

.content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  row-gap: 10px;
}

/*==============(Home)===================*/
.home,
.createpost,
.login,
.blog {
  height: calc(100vh - 70px);
}

/*==============(Createpost)===================*/
.createpost__block {
  display: flex;
}
.createpost__form {
  margin-bottom: 50px;
}
.createpost__post {
  width: 100%;
  resize: none;
  padding: 20px;
  outline: none;
  height: 60vh;
  max-height: 800px;
  border: 1px solid #333;
}
.createpost__title {
  width: 100%;
  border-bottom: 1px solid #333;
  margin-bottom: 20px;
  outline: none;
  padding: 10px;
}
.createpost__button {
  padding: 12px 40px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

/*==============(Styling Markdown format)===================*/
.markdown {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  line-height: 1.5;
  color: #333;
}
/* Style paragraphs */
.markdown p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 16px;
}

/* Style blockquotes */
.markdown blockquote {
  font-size: 18px;
  font-style: italic;
  border-left: 5px solid #ccc;
  padding-left: 16px;
  background-color: #f3f3f3;
  margin: 30px 0;
  padding: 25px 10px;
}

/* Style headings */
.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
  font-weight: bold;
  margin-top: 32px;
  margin-bottom: 16px;
}
.markdown h1 {
  font-size: 1.75rem;
  margin: 0;
}
.markdown h2 {
  font-size: 1.5rem;
}
.markdown h3 {
  font-size: 1.2rem;
}
/* Style code blocks */
.markdown pre {
  font-size: 14px;
  background-color: #f4f4f4;
  padding: 16px;
  overflow: auto;
  border-radius: 4px;
}

/* Style inline code */
.markdown code {
  font-family: "Courier New", Courier, monospace;
  background-color: #f4f4f4;
  padding: 4px 8px;
  border-radius: 4px;
}

/* Style lists */
.markdown ul,
.markdown ol {
  margin-left: 32px;
  margin-bottom: 16px;
}

.markdown li {
  list-style-type: disc;
}
.markdown ol {
  list-style-type: georgian;
}
.author {
  font-family: "Poppins", sans-serif;
}
